streamlit
flask
flask-cors
python-dotenv
requests

mysql-connector-python

numpy
pandas
scipy
scikit-learn
joblib

faiss-cpu
sentence-transformers
transformers
torch
safetensors
tqdm

groq

huggingface_hub
datasets
nltk

gunicorn