Flask
streamlit
transformers
torch
sentence-transformers
scikit-learn
numpy
pandas
faiss-cpu
onnx
onnxruntime
optimum
optimum-onnx
PyMySQL
SQLAlchemy
joblib
nltk
requests
huggingface_hub
tokenizers
safetensors
tqdm
PyYAML
filelock
fsspec
packaging
typing_extensions
Werkzeug
itsdangerous
Jinja2
MarkupSafe
blinker
gunicorn==23.0.0
Flask-CORS==6.0.2